{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block navbar %}
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/services">Services</a>
			</li>			
			<li class="nav-item">
				<a class="nav-link" href="/contact">Contact</a>
			</li>				
		</ul>
{% endblock %}

{% block body %}
  <div class="container">
	<div class="row">
	  <div class="col-12 mt-2 text-center">
	    <h1 class="my-5">Home Page</h1>
		<div class="row">
			<div class="col-md-4">
				<div class="card m-2">
					<img class="card-img-top" src="http://placehold.it/318x183" alt="Card image cap">
					<div class="card-block">
						<h4 class="card-title">Card title</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card m-2">
					<img class="card-img-top" src="http://placehold.it/318x183" alt="Card image cap">
					<div class="card-block">
						<h4 class="card-title">Card title</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card m-2">
					<img class="card-img-top" src="http://placehold.it/318x183" alt="Card image cap">
					<div class="card-block">
						<h4 class="card-title">Card title</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>			
		</div>
		<div class="row mt-5">
			<div class="col-sm-6">
				<p>Lorem ipsum dolor sit amet, in volumus reprimique vim. 
				Vel saepe facilisi voluptatibus ea, veniam imperdiet euripidis 
				nec cu. Congue oporteat no nec, te tollit incorrupte has, pri 
				labitur disputando ad. Id mea veritus graecis prodesset.
				</p>
			</div>
			<div class="col-sm-6">
				<p>Ne solet scaevola nec, mei inani mentitum no. Iusto zril 
				definitiones at eam, at tantas consetetur definitionem est. Per et 
				quidam copiosae, usu hinc laudem expetendis at. Viris albucius cum 
				ad. An sed quaeque contentiones disputationi, iriure fabulas pri 
				ad. Odio nobis omittam quo ei, nam id inermis consetetur voluptatum, 
				sed at vero torquatos.
				</p>
			</div>			
		</div>
	  </div>	  
    </div>
  </div>
{% endblock %}