{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block navbar %}
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/services">Services</a>
			</li>	
			<li class="nav-item active">
				<a class="nav-link active" href="/contact">Contact</a>
			</li>						
		</ul>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
	  <div class="col-12 mt-2 text-center">
	    <h1 class="my-5">Contact Page</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <p class="text-success">Message was sent. Thank you!</p>
        </div>
    </div>
</div>
{% endblock %}