<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<div class="bg-primary">
  <div class="container">		
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">	  
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
	  <a class="navbar-brand" href="/">LOGO</a>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">

		{% block navbar %}
	  {% endblock %}

	  </div>
    </nav>		
  </div>
</div>

    {% block body %}
    {% endblock %} 
	
	<footer class="">
		{% block footer %}
		<nav class="navbar fixed-bottom bg-primary">
			<div class="container">
				<div class="col-12 mt-2">
					<p style="color:white">&copy; 2017 by Company. All rights reserved.</p>
				</div>
			</div>
		</nav>
		{% endblock %}
	</footer>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.js"></script>
</body>
</html>